body {
    font-family: 'Lora', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    color: #ddd;
    background-color: #222;
}

header {
    text-align: center;
}

p {
    line-height: 1.5;
}

.container {
    /* background-color: aqua; */
    max-width: 800px;
    margin: 60px auto;
}

.first-name {
    color: #f00;
}

.last-name {
    color: #fff;
}

.social-links a {
    font-size: 25px;
    padding: 0px 8px;
    text-decoration: none;
    color: #444;
}

.no-bullet {
    list-style-type: none;
}