body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    color: #ddd;
    background-color: #222;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
  letter-spacing: 1px;
  color: #f00;
}

header, footer {
    text-align: center;
}

header h2 {
    font-weight: lighter;
    color: #ddd;
}

p {
    line-height: 1.5;
}

.container {
    max-width: 800px;
    margin: 60px auto;
}

.first-name {
    color: #f00;
}

.last-name {
    color: #fff;
}

.social-links a {
    font-size: 25px;
    padding: 0px 8px;
    text-decoration: none;
    color: #666;
}

.no-bullet {
    list-style-type: none;
}

a {
    color: #fff;
}

a:focus, a:hover {
    color: #f00;
}